body {
  width: 100%;
  min-height: 100vh;

  background: var(--primary-color);
  background: linear-gradient(
    rgba(98, 52, 134, 1) 0%,
    rgba(142, 64, 218, 1) 33%,
    rgba(177, 133, 245, 1) 66%,
    rgba(255, 254, 255, 1) 99%
  );
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/* -----------------------------------------------
                    Main
--------------------------------------------------- */

main {
  margin-top: 20px;
  padding: 10px 20px;
}

main p {
  margin: 10px 20px;
  text-align: justify;
}

ul > li {
  display: inline-table;
  width: 200px;
  margin: 20px 0;
}

main > section > ul > li > h5 {
  font-weight: 400;
}

main a {
  width: 100%;
  color: rgb(5, 0, 0);
  text-align: center;
}

img {
  width: 100px;
  border-radius: 5px 20px 5px;
  margin: 0 auto;
}

section:nth-child(2) {
  margin-top: 40px;
  /* background-color: red; */
}
